

.header .navbar {
    background-color: transparent !important;
}
.navbar img {
    width: 6%;
    height: auto;
}
main {
    background-color: #000000;
}

h2 {
    color: #ffffff;
    padding-top: 5%;
    padding-bottom: 2%;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

hr {
    color:#17a3b8 ;
    size: 10px;
}

footer h1 {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

footer i {
    color: #ffffff;
}





footer {
    background-color:#17a3b8;
}

section {
    background-color: #000000;
}

#contacto2 {
    height: 20em;
    width: 80% ;
    padding-top: 10px;
}

.contacto3 {
    padding-top: 100px;
    
}